@import '../kit/_variables.scss';
@import '../icons/ionicons';


/*-- SEARCHBAR --*/
.list-controls {
  margin-top: -80px;
  margin-right: 200px;
  .table-grid-toggle {
    border-radius: $radius;
    display: inline-block;
    height: 39px;
    border: 1px solid #e2e2e2;
    float: right;
    margin-left: -25px;
    font-size: 0;
    span.glyphicon {
      display: inline;
      padding: 11px;
      top: 2px;
      font-size: 13px;
      line-height: 33px;
      color: #AFAFAF;
      cursor: pointer;
      @include transition-linear(0.1s);
      &.active {
        background: #f5f5f5;
        color: $Black;
        &:hover {
          color: $Black;
        }
      }
      &:hover {
        color: $Grey-2;
      }
    }
  }
  .searchbar {
    border-radius: 2px;
    display: inline-block;
    margin-right: 37px;
    min-width: 300px;
    position: relative;
    @media all and (max-width: 991px) {
      margin-right: 10px;
      min-width: 250px;
    }
    @media all and (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 10px;
      min-width: 1px;
      width: 100%;
    }
    input {
      padding: 11px 13px;
    }
  }
}

/*-- ng_select Multi --*/
.multi-select {
  width: Auto;
  max-width: 400px;

  .select-btn-text {
    max-width: 290px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    top:4px;
  }

  .ui-select-search {
    border: 1px solid $Grey-7!important;
  }

  .overflow-btn-text {
    display: inline-block;
    position:relative;
    top:-1px;
    color: $Grey-5;
  }

  .ui-select-container {
    background-color: $Grey-8;
    border: 1px solid $Grey-5;
    min-width: 250px;
  }
  .ui-select-match-item {
    float: left !important;
    font-size: 10px;
    padding: 3px 0px!important;
    min-width:80px!important;
  }
  .multi-select-close-button {
    position:absolute;
    top:2px;
    right:3px;
    cursor: pointer;
    &:before {
      content: $ionicon-var-close;
      font-size: 14px;
      color: $Grey-4;
    }
  }
}

/*-- GRID VIEW --*/
.elements-grid {
  margin: 0 0px 40px;
  ul {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;
      min-height: 186px;
      padding: 5px;
      box-sizing: border-box;
      .box {
        border: 1px solid $Grey-6;
        border-radius: 2px;
        text-align: center;
        p {
          margin: 0;
          font-family: $font-reg;
          color: $Grey-3;
        }
      }
    }
  }
}

/*-- TABLEVIEW --*/
.elements-table {
  @media all and (max-width: 991px) {
    width: 100%;
    margin-top: 20px;
    padding-left: 15px;
  }
  .table-responsive {
    border-radius: 2px;
  }
  table {
    min-width: 711px;
    table-layout: fixed;
    width: 100%;
    thead {
      display: table-header-group;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      border-top: 1px solid #eee;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      th {
        display: table-cell;
        color: #9a9a9a;
        cursor: pointer;
        font-size: 12px;
        letter-spacing: 3px;
        padding-top: 25px;
        padding-bottom: 25px;
        text-transform: uppercase;
        @media all and (max-width: 991px) {
          letter-spacing: 0;
        }
      }
    }
    tbody {
      border: 1px solid #eee;
    }
    td {
      text-align: left;
      color: #444;
      font-family: $font-reg;
      line-height: 28px;
      padding-bottom: 12px;
      padding-top: 9px;
      &:first-child {
        color: #000;
        font-family: $font-bold;
      }
      &:last-child {
        padding: 0px;
        padding-right: 11px;
      }
    }
    tr {
      &:nth-child(even) {
        td {
          background: #f9f9f9;
          border: solid #e7e7e7;
          border-width: 1px 0;
        }
      }
      &:hover {
        td {
          background: #FFFEF6;
          cursor: pointer;
        }
      }
    }
    td, th {
      display: grid;
      &:first-child {
        padding-left: 35px;
        @media all and (max-width: 1100px) {
          padding-left: 10px;
        }
      }
    }
    @media all and (max-width: 768px) {
      .btn-profile {
        letter-spacing: 0;
        padding: 10px 5px;
      }
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  @media all and (max-width: 991px) {
    padding: 0 15px;
  }
  .btn {
    min-width: 109px;
  }
  .pager {
    color: #999;
    margin: 0;
    a {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      color: inherit;
      display: inline-block;
      font-size: 12px;
      line-height: 34px;
      margin: 0 2px;
      text-decoration: none;
      vertical-align: middle;
      width: 29px;
      cursor: pointer;
      @media all and (max-width: 768px) {
        margin: 0;
      }
      &.active {
        border: 1px solid $punchYellow;
        color: #444444;
      }
      &:hover {
        border: 1px solid;
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    span {
      color: #000;
      display: inline-block;
      margin: 0;
      vertical-align: middle;
      @media all and (max-width: 768px) {
        margin: 0;
      }
    }
  }
  @media all and (max-width: 480px) {
    display: block;
    text-align: center;
    .pager {
      margin: 10px 0;
    }
  }
}
