/*-- PATRON --*/
@font-face {
  src: url('../../../../admin/assets/fonts/FontTH.eot?#iefix') format('embedded-opentype'), url('../../../../admin/assets/fonts/FontTH.woff') format('woff'), url('../../../../admin/assets/fonts/FontTH.ttf') format('truetype'), url('../../../../admin/assets/fonts/FontTH.svg#Font') format('svg');
  font-family: 'Patron-Thin';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('../../../../admin/assets/fonts/FontL.eot?#iefix') format('embedded-opentype'), url('../../../../admin/assets/fonts/FontL.woff') format('woff'), url('../../../../admin/assets/fonts/FontL.ttf') format('truetype'), url('../../../../admin/assets/fonts/FontL.svg#Font') format('svg');
  font-family: 'Patron-Light';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('../../../../admin/assets/fonts/Font.eot?#iefix') format('embedded-opentype'), url('../../../../admin/assets/fonts/Font.woff') format('woff'), url('../../../../admin/assets/fonts/Font.ttf') format('truetype'), url('../../../../admin/assets/fonts/Font.svg#Font') format('svg');
  font-family: 'Patron';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('../../../../admin/assets/fonts/FontM.eot?#iefix') format('embedded-opentype'), url('../../../../admin/assets/fonts/FontM.woff') format('woff'), url('../../../../admin/assets/fonts/FontM.ttf') format('truetype'), url('../../../../admin/assets/fonts/FontM.svg#Font') format('svg');
  font-family: 'Patron-Medium';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('../../../../admin/assets/fonts/FontB.eot?#iefix') format('embedded-opentype'), url('../../../../admin/assets/fonts/FontB.woff') format('woff'), url('../../../../admin/assets/fonts/FontB.ttf') format('truetype'), url('../../../../admin/assets/fonts/FontB.svg#Font') format('svg');
  font-family: 'Patron-Bold';
  font-weight: normal;
  font-style: normal;
}
