.editable-string {
  textarea {
    resize: none;
    background: none;
    outline: none;
    overflow: hidden;
    font-size: inherit;
    text-transform: inherit;
    color: inherit;
    letter-spacing: inherit;
    padding: 6px 15px;
    margin-top: -6px;
    margin-left: -15px;
    height: auto;
    border: none;
    &:focus {
      outline: none;
      border: 1px solid #eee;
      padding: 5px 14px;
    }
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      font-size: inherit;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      font-size: inherit;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      font-size: inherit;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-size: inherit;
    }
  }
}