@import '../kit/_variables.scss';

.companies-wrap {
  .floated-navigation {
    position: relative;
    .dropdown {
      float: right;
      margin-left: 10px;
      .btn {
        min-width: 145px;
      }
    }
    .dropdown-menu {
      top: 37px;
    }
    .searchbar {
      width: 250px;
      margin: 0px 13px;
      input {
        padding: 12px 13px;
      }
    }
    .multi-select {
      float: right;
      margin-left: 10px;
      .ui-select-choices {
        top:auto;
      }
    }
  }
  .companies-table {
    table td {
      padding-top: 2px;
      padding-bottom: 3px;
      input[type="checkbox"] {
        width: 16px;
        height: 16px;
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
      }
    }
    th, td {
      &:first-child {
        width: 50px;
        padding-left: 17px;

      }
    }
  }
  .table-button {
    display: none;
  }
}
