@import '../kit/_variables.scss';

/*-- FITLER ROW --*/
.jobfilter-location {
  width:220px;
  float:right;
  margin-right: 20px;
  padding: 11px 13px;
}
.jobfilter-date {
  width:180px;
  float:right;
  margin-right: 20px;
  padding: 11px 13px;
}

/*-- SCRAPPER TABLEVIEW --*/
.scraper-table {
  td,th {
    &:first-child {
      padding-left: 35px;
      width: 24%;
      @media all and (max-width: 1100px) {
        padding-left: 10px;
      }
    }
    &:nth-child(2) {
      width: 19%;
      @media all and (max-width: 768px) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 15%;
      }
      @media all and (max-width: 480px) {
        display: none;
      }
    }
    &:nth-child(3) {
      width: 20%;
      @media all and (max-width: 1100px) {
        padding-left: 5px;
      }
      @media all and (max-width: 768px) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      @media all and (max-width: 480px) {
        width: 20%;
      }
    }
    &:nth-child(4) {
      width: 8%;
      @media all and (max-width: 1100px) {
        text-align: center;
      }
      @media all and (max-width: 768px) {
        width: 8%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      @media all and (max-width: 480px) {
        display: none;
      }
    }
  }
}
