<div class="user-footer">
  <div class="logo-footer">
    <a class="logo" href="http://punch-agency.com" target="_blank">
      <img src="common/images/logo-navbar-2x.png" alt="Punch Logo" width="73" height="25">
    </a>
    <p>Copyright © 2016 Punch Agency</p>
    <p>All Rights Reserved</p>
  </div>
  <div class="about">
    <h4 class="title">ABOUT</h4>
    <p>We are artists & engineers building products for the digital era. Let us help you build your next idea!</p>
  </div>
  <div class="offices">
    <h4 class="title">OFFICES</h4>
    <ul>
      <li><a href="http://punch-agency.com/contact" target="_blank">San Francisco</a></li>
      <li><a href="http://punch-agency.com/contact" target="_blank">New York</a></li>
      <li><a href="http://punch-agency.com/contact" target="_blank">Boston</a></li>
      <li><a href="http://punch-agency.com/contact" target="_blank">Los Angeles</a></li>
      <li><a href="http://punch-agency.com/contact" target="_blank">Lahore</a></li>
      <li><a href="http://punch-agency.com/contact" target="_blank">Phuket</a></li>
    </ul>
  </div>
  <div class="contact">
    <h4 class="title">CONTACT</h4>
    <ul>
      <li><a href="http://punch-agency.com">punch-agency.com</a></li>
      <li><a href="mailto://start@punch-agency.com">start@punch-agency.com</a></li>
      <li><a href="tel://(855) 444-3303">(855) 444-3303</a></li>
    </ul>
  </div>
</div>
